{% extends 'base.html' %}

{% block content %}
    <form method="post" action="">
        {{ signup_form.hidden_tag() }}
        <fieldset class="form-group">
            <div class="form-group">
                {{ signup_form.username.label(class="form-control-label") }}
                {% if signup_form.username.errors %}
                    {{ signup_form.username(class="form-control form-control-md is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in signup_form.username.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ signup_form.username(class="form-control form-control-md") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ signup_form.email.label(class="form-control-label") }}
                {% if signup_form.email.errors %}
                    {{ signup_form.email(class="form-control form-control-md is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in signup_form.email.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ signup_form.email(class="form-control form-control-md") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ signup_form.password.label(class="form-control-label") }}
                {% if signup_form.password.errors %}
                    {{ signup_form.password(class="form-control form-control-md is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in signup_form.password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ signup_form.password(class="form-control form-control-md") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ signup_form.confirm_password.label(class="form-control-label") }}
                {% if signup_form.confirm_password.errors %}
                    {{ signup_form.confirm_password(class="form-control form-control-md is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in signup_form.confirm_password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ signup_form.confirm_password(class="form-control form-control-md") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ signup_form.submit(class="btn btn-outline-md") }}
        </div>
        <div class="text-muted">
            Already have an account? <a href="{{ url_for('login') }}">Login</a>
        </div>
    </form>
{% endblock %}