{% extends 'base.html' %}

{% block content %}

    <div>
        {{ testme.title }}
    </div>
    <div>
        {{ testme.description }}
    </div>
    <div class="question-list pt-2">

        <form method="post" action="">
            <fieldset class="form-group">
                {% for question in question_list %}
                    <div class="form-group">
                        {{ question.title }}
                        <p>
                            <input type="radio" name="{{ question.id }}" id="answer_1"
                                   value="{{ question.answers.answer_1 }}"> {{ question.answers.answer_1 }} <br>
                            <input type="radio" name="{{ question.id }}" id="answer_2"
                                   value="{{ question.answers.answer_2 }}"> {{ question.answers.answer_2 }} <br>
                            <input type="radio" name="{{ question.id }}" id="answer_3"
                                   value="{{ question.answers.answer_3 }}"> {{ question.answers.answer_3 }} <br>
                            <input type="radio" name="{{ question.id }}" id="answer_4"
                                   value="{{ question.answers.answer_4 }}"> {{ question.answers.answer_4 }} <br>
                        </p>
                    </div>
                {% endfor %}
            </fieldset>
            <button type="submit">End testme</button>
        </form>

    </div>

{% endblock %}