{% extends 'base.html' %}

{% block content %}

    <div class="">
        <h6>
            {{ testme.title }}, created by {{ testme.author }}
        </h6>
        <div class="row">
            <div class="col-md-4">
                <div>Count of executions: {{ testme.execution_count }}</div>
                <div>Count of questions: {{ testme.count_questions }}</div>
            </div>
            <div class="col-md-4">
                {% if user_testme %}
                    Your results: {{ user_testme.result }}%({{ user_testme.right_answer_count }}/)
                {% else %}
                    Try to start this testme!
                {% endif %}
            </div>
        </div>

        <div class="">
            {{ testme.description }}
        </div>
        <div class="question-list pt-1">
            {% for question in testme.questions %}
                <div>
                    {{ question.title }}
                </div>
                <div class="row">
                    <div class="col-md-6">
                        1. {{ question.answers.answer_1 }}
                    </div>
                    <div class="col-md-6">
                        2. {{ question.answers.answer_2 }}
                    </div>
                    <div class="col-md-6">
                        3. {{ question.answers.answer_3 }}
                    </div>
                    <div class="col-md-6">
                        4. {{ question.answers.answer_4 }}
                    </div>
                </div>
                <div>
                    <h6>
                        Right answer: {{ question.right_answer.content }}
                    </h6>
                    </p>
                </div>
            {% endfor %}
        </div>
    </div>

    <form method="get" action="{{ url_for('testme_start', testme_id=testme.id) }}">
        <button type="submit" class="btn-primare btn-md">
            Start test
        </button>
    </form>

    <div class="testme-comments pt-5">
        <h3>
            Comments:
        </h3>
        {% if testme_comment_list %}
            {% for testme_comment in testme_comment_list %}
                <div class="row pt-2">
                    <div class="col-md-3">
                        <div>
                            {{ testme_comment.author }}
                        </div>
                        <div>
                            {{ testme_comment.time_stamp }}
                        </div>
                    </div>
                    <div class="col-md-9">
                        {{ testme_comment.content }}
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>
                Here no comments. Be the first!
            </p>
        {% endif %}
        {% if current_user.is_authenticated %}
            <div>
                <form method="post" action="">
                    {{ comment_form.hidden_tag() }}
                    <fieldset class="form-group">
                        <div class="form-group">
                            {% if comment_form.content.errors %}
                                {{ comment_form.content(class='form-control form-control-md is-negative', placeholder='Content') }}
                                {% for error in comment_form.content.errors %}
                                    <div class="invalid-feedback">
                                        <span>{{ error }}</span>
                                    </div>
                                {% endfor %}
                            {% else %}
                                {{ comment_form.content(class='form-control form-control-md', placeholder='What do you want to say?') }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ comment_form.submit(class='btn btn-outline-info') }}
                        </div>
                    </fieldset>
                </form>
            </div>
        {% else %}
            <div>
                <a href="{{ url_for('login') }}">Login</a> to add a comments!
            </div>
        {% endif %}

    </div>


{% endblock %}